In [40]:
print("hello world!")

hello world!

# variables in python
variables are temporary storage spaces,where you can store dataor values.
we can also change this values.

In [41]:
var1="Bob"
var1

'Bob'

In [42]:
var1= "sam"
var1

'sam'

# datatypes in python: every variable is associate with a data type.

int= 10,500
float=3.14,15.39
boolean= true,false(yes/no)
string="sam","mat"     set of charecters

In [43]:
a=10
type(a)

int

In [44]:
a=10.23
type(a)

float

In [45]:
a=True
type(a)

bool

In [46]:
a="hello"
type(a)

str

In [47]:
a=4+5j
type(a)

complex

# operaters in python

Airthmatic operaters
Relational operaters
Logical operaters

In [48]:
# airthmatic operaion
a=5
b=2

In [49]:
a+b

7

In [50]:
a-b

3

In [51]:
a*b

10

In [52]:
a/b

2.5

In [53]:
a//b      # quotient , floor division operater,

2

In [54]:
a%b       #reminder  ,modulus

1

In [55]:
a**b

25

In [56]:
2^3

1

In [57]:
#Relational operater
a=10
b=20

In [58]:
a<b

True

In [59]:
a>b

False

In [60]:
a=b

In [61]:
a==b

True

In [62]:
a!=b

False

In [63]:
#Logical operater  & AND ,| OR

a=True
b=False

In [64]:
a & b

False

In [65]:
b & a

False

In [66]:
a & a

True

In [67]:
b & b

False

In [68]:
a | b

True

In [69]:
b | a

True

In [70]:
a | a

True

In [71]:
b | b

False

# Python Strings

strings are sequence of charactersenclosed within single quote
('')double quote("") and thriple quotes(''' ''')

In [72]:
a1="joey doesn't share pizza"

In [73]:
a1[1]

'o'

In [74]:
a1[-1]

'a'

In [75]:
a1[2:10]    #12 index exclusive here if you want 23   =[2:4]

'ey doesn'

In [76]:
a1[1:3]   #will print index 1 and 2

'oe'

In [77]:
# to check length of string

len(a1)

24

In [78]:
b1="lol"
len(b1)

3

In [79]:
a1.upper()

"JOEY DOESN'T SHARE PIZZA"

In [80]:
a1.lower()

"joey doesn't share pizza"

In [81]:
a1.title()

"Joey Doesn'T Share Pizza"

# data structure in python

Tuple
List
Dictionary
Set

#in variable we store one value in one variable,if we need to store huge data/values,we have need huge variables.in this case we need data stuctures.where we can store multiple data in single data structure.

In [82]:
# Tuple  :tuple is a ordered collection of elements enclosed within (),
#tuple are immutables(cnt change or update)

In [83]:
tup1=(1,"a",True,"bb",23.5)
tup1

(1, 'a', True, 'bb', 23.5)

In [84]:
# accessing element of tuples sameas strings

tup1[2]

True

In [85]:
tup1[1:2]

('a',)

In [86]:
tup1[0]=100  #immutable

TypeError: 'tuple' object does not support item assignment

In [87]:
#List is an orderd collection of elements encoled [],
#List are mutable(can changeble)

In [88]:
l1=[1,"a",True,23.56,"we",2]
l1

[1, 'a', True, 23.56, 'we', 2]

In [89]:
l1[1]

'a'

In [90]:
l1[2:5]

[True, 23.56, 'we']

In [91]:
l1[0]=100
l1

[100, 'a', True, 23.56, 'we', 2]

In [92]:
l1.append("lel")
l1

[100, 'a', True, 23.56, 'we', 2, 'lel']

In [93]:
l1.append([1,2,3,4,5])
l1

[100, 'a', True, 23.56, 'we', 2, 'lel', [1, 2, 3, 4, 5]]

In [94]:
l1.pop()

[1, 2, 3, 4, 5]

In [95]:
l1

[100, 'a', True, 23.56, 'we', 2, 'lel']

In [96]:
# dictionary is an unordered collection of key-value pairs enclosed within {}
# dictionary is mutable

In [97]:
d1={"mango":23,"apple":30,"oranges":40,"guava":99}
d1

{'mango': 23, 'apple': 30, 'oranges': 40, 'guava': 99}

In [98]:
d1.keys()

dict_keys(['mango', 'apple', 'oranges', 'guava'])

In [99]:
d1.values()

dict_values([23, 30, 40, 99])

In [100]:
d1["mango"]=100
d1

{'mango': 100, 'apple': 30, 'oranges': 40, 'guava': 99}

In [101]:
# set is an unordered and unindexed collection of of element enclosed with {}
#duplicates are not allowed

In [102]:
s1={1,"w",23.45}
s1

{1, 23.45, 'w'}

In [103]:
s1={1,"w",23.45,1,1,1,1,1,1,1,"w"}
s1

{1, 23.45, 'w'}

In [104]:
s1.add("hello")
s1

{1, 23.45, 'hello', 'w'}

In [105]:
s1.update(["cat",12,23.3])   # order and index is not preserved its random
s1

{1, 12, 23.3, 23.45, 'cat', 'hello', 'w'}

# flow control statement

In [106]:
# if statement

a=100
b=20

if (a>b):
    print("a is grater than b")
else:
    print("a is less than b")

a is grater than b

In [107]:
a=100
b=20
c=30

if(a>b)&(a>c):
    print("a is greatest")
elif(b>a)&(b>c):
    print("b is greatest")
else:
    print ("c is greatest")

a is greatest

In [108]:
a=10
b=200
c=30
d=40

if(a>b)&(a>c)&(a>d):
    print("a is greatest")
elif(b>a)&(b>c)&(b>d):
    print("b is greatest")
elif(c>a)&(c>b)&(c>d):
    print("c is greatest")    
else:
    print ("d is greatest")

b is greatest

In [109]:
# if statment with tuple

tup1=("a","s","e","r","h")

In [110]:
if "o" in tup1:
    print("s is present tup1 ")
else:
    print("not present")

not present

In [111]:
# if statment with list

l1=[10,20,30,40,50]

In [112]:
if l1[0]==10:
    l1[0]=100
l1

[100, 20, 30, 40, 50]

In [113]:
# if statment with dictonary

d1={"mango":10,"banana":20,"guava":35}

In [114]:
if d1["mango"]==10:
    d1["mango"]=d1["mango"]+100
d1

{'mango': 110, 'banana': 20, 'guava': 35}

# looping statment

are used to repeated task  multiple times

In [115]:
#while loop(keep pouring water into bucket untill bucket full)

i=1
while (i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [116]:
i=1
n=2

while(i<=10):
    print(n,"*",i,"=",n*i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [117]:
#while loop with list

l1=[1,2,3,4,5]

In [118]:
i=0

while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1
    
l1

[101, 102, 103, 104, 105]

In [119]:
# for loop : for loop is use to iterate over a sequence(tuple,dictionary,list...even string)
#syntax :     for val in sequence:
#                      body of for

In [120]:
l1=["red","green","blue"]

for i in l1:
    print(i)

red
green
blue

In [121]:
# nested for loop

In [122]:
color=["red","green","blue"]
items=["table","cloth","book"]


for i in color:
    for j in items:
        print(i,"+",j)

red + table
red + cloth
red + book
green + table
green + cloth
green + book
blue + table
blue + cloth
blue + book

## python functions

you are taking a bunch of code putting in a single module ,we can envoke it whenever perform a specific task.

In [123]:
def hello():
    print("hello world !!!!")

In [124]:
hello()

hello world !!!!

In [125]:
hello()

hello world !!!!

In [126]:
def add_10(x):
    return(10+x)

In [127]:
add_10(2)

12

In [128]:
add_10(11)

21

In [129]:
def odd_even(x):
    if x%2==0:
        print("even")
    else:
        print("odd")

In [130]:
odd_even(3)

odd

In [131]:
odd_even(20)

even

# python object oriented progamming


class is a templet/blueprint for real world entities(eg.properties of phonen and behavior of phone).object are specifice instances of class

In [132]:
class Phone:                #class name first letter should be capital letter
    def make_call(self):
        print("calling")
                
    def massage(self):
        print("sms send")

In [133]:
p1= Phone()    #p1=instance of class

p1.massage()

sms send

In [134]:
p1.make_call()

calling

In [135]:
#new class

class Phone:
    def add_color(self,color):
        self.col=color
        
    def add_cost(self,cost):
        self.cost=cost 
        
    def show_color(self):
        return self.col
    
    def show_cost(self):
        return self.cost
    
    def make_call(self):
        print("calling")
        
    def massage(self):
        print("sms send")

In [136]:
p2= Phone()
  
p2.add_color("blue")

In [137]:
p2.show_color()

'blue'

In [138]:
p3=Phone()
p3.add_color("red")

In [139]:
p3.show_color()

'red'

In [140]:
#inheritance in python: with inharitance one class can derives the properties of another class

In [144]:
class Iphone(Phone):
    def cure_cancer(self):
        print("i can cure cancer")

In [148]:
ip1= Iphone()
ip1.add_color("gray")
ip1.add_cost(100)

In [149]:
ip1.show_color()

'gray'

In [147]:
ip1.cure_cancer()

i can cure cancer